{% extends 'base.html' %}

{% block content %}
    <main>
        {% if is_boss %}
            <h2>ГЛАВНЫЙ СУДЬЯ</h2>
            <h3>ЛИНК:</h3>
            <h4>{{ uuid }}</h4>
            <hr class="hr-divider">
            {% include 'referee/includes/judges_list.html' %}
            <button id="addJudgeBtn">Добавить судью</button>
            <hr class="hr-divider">
            {% include 'referee/includes/fights_list.html' %}
            <button id="addFightBtn">Добавить бой</button>

        {% elif is_active_judge %}
            <h2>АКТИВНЫЙ БОКОВОЙ СУДЬЯ</h2>
            {% include 'referee/includes/fights_list.html' %}

        {% else %}
            <h2>НАБЛЮДАТЕЛЬ</h2>
            {% include 'referee/includes/fights_list.html' %}

        {% endif %}
    </main>

    {% load static %}
    <script src="{% static 'referee/js/judge/judges.js' %}"></script>
    <script src="{% static 'referee/js/fight/fights.js' %}"></script>

{#    <script src="{% static 'referee/js/fight/delete_fight.js' %}"></script>#}
{#    <script src="{% static 'referee/js/fight/edit_fight.js' %}"></script>#}
{#    <script src="{% static 'referee/js/fight/winner_fight.js' %}"></script>#}
    <script src="{% static 'referee/js/fight/create_note.js' %}"></script>
    <script src="{% static 'referee/js/fight/fight_notes.js' %}"></script>


{% endblock %}
