<div id="fight-list">
    {% for fight in fights %}
        <div class="fight" data-fight-id="{{ fight.id }}">
            <p class="fight-info">
                {{ fight.number_fight }}: {{ fight.fighter_1 }} vs {{ fight.fighter_2 }}
                <span class="fight-links">
                    <a href="#" class="editFight">Изменить</a> |
                    <a href="#" class="deleteFight">Удалить</a> |
                    <a href="#" class="viewNotes">Записки</a> |
                    <a href="#" class="finalDecision">Результат</a>
                </span>
            </p>
        </div>
    {% endfor %}
</div>
